body {
    background-color:hsl(47, 88%, 63%);
}

.card {
    box-shadow: 10px 15px 0px rgba(0, 0, 0, 1.0);
    
}

.card-text {
    color: hsl(0, 0%, 42%);
    font-weight:500;
}

.card-title {
    font-weight:800;
}
 .card-date {
    color: hsl(0, 0%, 7%);
    font-weight:500;
}

.btn {
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-weight:700;
    border-color: hsl(47, 88%, 63%);
}