.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 25px;
    background-color: white;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.qr-code-image {
    border-radius: 25px;
    padding: 20px
}

.p {
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
}

body {
    background-color:hsl(212, 45%, 89%) ;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 700;
}